#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* --- NETFLIX STYLE SIDEBAR ACCORDION --- */
.main-topic-item {
    background: #2d2d2d;
    margin-bottom: 5px;
    border-radius: 4px;
    overflow: hidden;
    list-style: none;
}

.module-trigger {
    width: 100%;
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #3e3e3e;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
    text-align: left;
}

.module-trigger:hover {
    background: #4f4f4f;
}

.sub-topic-list {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    background: #2d2d2d;
}


.main-topic-item.active .sub-topic-list {
    max-height: 1000px;
    padding: 10px 0;
    border-top: 1px solid #1a1a1a;
}

.main-topic-item.active .faq-icon {
    transform: rotate(45deg); 
}

.sub-item {
    padding: 12px 30px;
    color: #b3b3b3;
    cursor: pointer;
    font-size: 13px;
    transition: 0.2s;
}

.sub-item:hover {
    color: white;
    background: rgba(255,255,255,0.05);
}